@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Colors */
$primary-color: #265c4b;
$secondary-color: #146551;
$tertiary-color: #007566;
$quaternary-color: #589a8d;
$fifth-color: #059669;
$dark-color: #1e292d;
$light-color: #ffffff;

/* Fonts */
$font-source: "Poppins", sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
