@import "../App/variables";

.register {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .container {
    width: 100%;
    box-sizing: border-box;
    h1 {
      position: relative;
      color: $fifth-color;

      font-weight: 600;
      left: 10px;
      margin-top: 10px;
      margin-bottom: 45px;
      font-size: 24px;
    }
    &__input-field {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0 10px 0 10px;
      p {
        margin-bottom: 20px;
        margin-top: -10px;
        font-size: 14px;
      }
    }
    &__input {
      height: 45px;
      width: 100%;
      background: transparent;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      outline: none;
      margin-bottom: 20px;
      color: $fifth-color;
    }
    &__input-field label {
      position: absolute;
      top: 10px;
      left: 10px;
      pointer-events: none;
      transition: 0.5s;
    }
    &__input-field .container__input:focus ~ label {
      top: -10px;
      font-size: 13px;
    }
    &__input-field .container__input:valid ~ label {
      top: -10px;
      font-size: 13px;
      color: $dark-color;
    }

    &__input-field .container__input:focus,
    .container__input-field .container__input:valid {
      border-bottom: 1px solid $dark-color;
    }

    .axel {
      // position: absolute;
      // top: 110%;
      // right: 10px;
      // left: 10px;
      &__submit {
        width: 100%;
        color: #000;
        font-weight: 300;
        font-size: 1rem;
        padding: 0.8em 0;
        background: $tertiary-color;

        &:hover {
          color: $dark-color;
          background: $primary-color;
        }

        border: none;
        border-radius: 0.2em;
        cursor: pointer;
        transition: 0.4s;
      }
      .endo {
        text-align: center;
        font-size: small;
        margin-top: 25px;
        &__enlace {
          text-decoration: none;
          font-weight: 700;
          color: #000;
          transition: 0.5s;
          &:hover {
            text-decoration: underline;
            color: #357dbd;
          }
        }
      }
    }
  }
}
